.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
}
@media screen and (max-width: var(--tablet)) {
  .header {
    padding: 16px 0;
  }
}
.header div {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}