.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
  @media screen and (max-width: var(--tablet)) {
    padding: 16px 48px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
      cursor: pointer;
    }
  }
}
